.page-1 {
    .container {
        align-items: center;
        justify-content: center;

        .logo-container {
            .logo {
                width: 12rem;
                height: auto;
            }
        }

        #acessar-cardapio {
            margin-top: 2rem;
        }
    }
}