@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Work+Sans:400,700,900");
:root {
  --white: #fff;
  --grey: #373737;
  --red: #FF5959; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1rem;
  color: var(--white);
  font-weight: 400; }

.only-semantics {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  color: transparent;
  line-height: 0;
  left: 0;
  top: 0; }

body {
  background-color: var(--grey); }

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 640px;
  height: 100vh;
  padding: 2rem;
  max-width: 450px;
  margin: auto;
  gap: 2rem; }

button {
  width: 100%;
  padding: .5rem;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.2rem;
  max-width: 14rem;
  border-radius: 0.25rem;
  border: none; }

button[disabled] {
  background-color: #adadad; }

.small-text {
  font-size: 1.5rem;
  font-weight: 400; }

.middle-text {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400; }

.big-text {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1; }

.page-1 .container {
  align-items: center;
  justify-content: center; }
  .page-1 .container .logo {
    width: 7rem;
    height: auto; }
  .page-1 .container .nome-empresa h2 {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    line-height: 0.5; }
    .page-1 .container .nome-empresa h2 span {
      font-family: 'Oleo Script', sans-serif;
      color: var(--red);
      text-transform: none;
      font-size: 2rem; }

.page-2 {
  overflow: hidden; }
  .page-2 .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    align-items: center; }
    .page-2 .container .title-container h3 {
      margin-bottom: .5rem; }
    .page-2 .container .roleta-static {
      width: 100%;
      height: auto;
      max-height: 10rem; }
    .page-2 .container .description {
      grid-column: 1/-1; }
    .page-2 .container .roleta-container {
      grid-column: 1/-1;
      position: relative; }
      .page-2 .container .roleta-container .roulette {
        scale: 0.8; }

.page-3 .container {
  margin-bottom: 1rem;
  height: auto; }
  .page-3 .container .title-container h2 {
    margin-bottom: 1rem; }
  .page-3 .container label {
    margin-bottom: .5rem;
    display: block; }
  .page-3 .container input[type='text'] {
    width: 100%;
    font-size: 1.5rem;
    border-radius: .25rem;
    border: none;
    padding: 0.6rem; }
  .page-3 .container .questions {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .page-3 .container .questions .question-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      gap: 1rem; }
    .page-3 .container .questions .btn {
      margin: 1rem auto auto auto; }

.page-4 .container h1 {
  text-align: center; }

.page-4 .container .coracao {
  text-decoration: none;
  font-size: 11rem;
  font-style: normal;
  margin: auto; }

.page-4 .container .buttons-container {
  display: flex;
  align-items: center;
  gap: .5rem;
  justify-content: center; }
  .page-4 .container .buttons-container .btn {
    width: max-content;
    min-width: 7rem; }

.page-5 .container video {
  width: 100%;
  height: auto;
  margin: auto; }

.roulette {
  font-family: 'Work Sans', sans-serif;
  display: block;
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px; }
  .roulette .shadow {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 0 0.3em 0 rgba(0, 0, 0, 0.25) inset; }
  .roulette .markers {
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    overflow: hidden;
    border-radius: 100%; }
    .roulette .markers .marker {
      position: absolute;
      width: 0;
      height: 0;
      top: -200px;
      left: 200px;
      transform-origin: 0% 400px;
      border: 0 solid transparent; }
    .roulette .markers .triangle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 1em 0 1em 1em;
      border-color: transparent transparent transparent #007bff;
      position: absolute;
      border-left-color: #FFF;
      top: 50%;
      left: -1px;
      margin-top: -1em;
      filter: drop-shadow(0 0.25em 0 rgba(0, 0, 0, 0.25)); }
  .roulette .spinner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    overflow: hidden;
    transform: rotateZ(0deg);
    /*performance boost*/
    backface-visibility: hidden; }
    .roulette .spinner .item {
      position: absolute;
      width: 0;
      height: 0;
      top: -200px;
      left: 200px;
      transform-origin: 0% 400px;
      border: 0 solid transparent; }
      .roulette .spinner .item .label {
        display: block;
        position: absolute;
        color: #FFF;
        font-weight: 800;
        top: 0;
        left: 0;
        white-space: nowrap;
        transform-origin: 0 0;
        font-size: 1.5em; }
        .roulette .spinner .item .label i, .roulette .spinner .item .label .text {
          display: inline-block;
          vertical-align: middle;
          line-height: 1;
          font-size: 1em;
          text-indent: 0; }
        .roulette .spinner .item .label i {
          margin-right: 0.1em; }
  .roulette .button {
    width: 10em;
    height: 10em;
    line-height: 10em;
    top: 50%;
    left: 50%;
    margin-left: -5em;
    margin-top: -5em;
    font-weight: 800;
    z-index: 998;
    position: absolute;
    background: #FFF;
    border: none;
    border-radius: 100%;
    color: #999;
    outline: none;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0.4em 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: transform 0.15s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .roulette .button:hover {
    color: #000000; }
  .roulette .button span {
    font-size: 1.6em;
    letter-spacing: -0.05em; }
  .roulette.busy .button {
    transform: scale(0.9);
    box-shadow: 0 0.15em 0 rgba(0, 0, 0, 0.25);
    color: #999;
    cursor: default; }

/* CUSTOM LABELS */
.roulette .spinner .item[data-type="sobremesa"] .label {
  font-size: .65em; }
