* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1rem;
    color: var(--white);
    font-weight: 400;
}

.only-semantics {
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    color: transparent;
    line-height: 0;
    left: 0;
    top: 0;
}

body {
    background-color: var(--grey);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 640px;
    height: 100vh;
    padding: 2rem;
    max-width: 450px;
    margin: auto;
    gap: 2rem;
}

button {
    width: 100%;
    padding: .5rem;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.2rem;
    max-width: 14rem;
    border-radius: 0.25rem;
    border: none;
}

button[disabled] {
    background-color: #adadad;
}

.small-text {
    font-size: 1.5rem;
    font-weight: 400;
}

.middle-text {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
}

.big-text {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1;
}

.hidden {
    display: none;
}